/* Main container */

.spread-container {
  display: flex;
  height: 600px;
  border: 1px solid #ddd;
  flex-direction: row-reverse;
}

/* Spreadsheet area */
.spread-area {
  flex: 1;
}

/* Right toolbar */
.right-toolbar {
  width: 200px;
  padding: 12px;
  border-left: 1px solid #ddd;
  background: #f9fafc;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
}

/* Title */
.toolbar-title {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  margin-bottom: 6px;
}

/* Buttons */
.import-btn,
.export-btn {
  padding: 8px 0px;
  border: 1px solid #3dcd58;
  background: #3dcd58;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  width: 100%;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: bold;
}

.import-btn:hover,
.export-btn:hover {
  background: #3ae75a;
  color: white;
}

/* Export dropdown */
.export-wrapper {
  position: relative;
}

.export-menu {
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background: #f5f5f5;
}
